<h1>TechnicianSchedules#index</h1>
<p>Find me in app/views/technician_schedules/index.html.erb
<br>View technician_schedule id=1 at /technician_schedules/1</p>


<!--FullCalendar container div-->
<div id='calendar'></div>
